.project-button button {
    background-color: #0091c0;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
}

.project-button {
    height: 50px;
}

.project-button .project-button-tooltip {
    background-color: #0091c0;
    font-size: 15px;
    margin-top: -15px;
}

.project-button .project-button-tooltip.place-top:after{
    border-top: 6px solid #0091c0;
}
