.project-completed-appointment {
    position: relative;
    width: 60%;
    cursor: pointer;
    font-size: 14px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    overflow-y: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-completed-appointment-medic {
    display: inline-block;
    width: 30%;
    float: left;
    height: 60px;
    border-right: 2px solid #3131;
}

.project-completed-appointment-details {
    display: inline-block;
    position: relative;
    margin-left: auto;
    float: left;
    min-width: 65%;
    max-width: 75%;
}

.project-completed-appointment-extend {
    display: inline-block;
    position: relative;
    margin-left: auto;
    border-left: 2px solid #3131;
    height: 60px;
    width: 5%;
}

.project-completed-appointment-medic, .project-completed-appointment-details, .project-completed-appointment-extend {
    line-height: 60px;
}

.project-completed-appointment-comments.retracted{
    border-top: 0 solid #3131;
    font-size: 0;
    padding: 0;
    height: 0;
    transition: all 0.5s;
}

.project-completed-appointment-comments {
    border-top: 2px solid #3131;
    transition: all 0.5s;
    height: auto;
    font-size: 15px;
    padding: 10px 10px;
}

.project-completed-appointment-extend span {
    height: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 944px) {
    .project-completed-appointment {
        font-size: 11px;
        width: 100%;
    }
}